.footer {
    background-color: #06407a;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text-left {
    margin-top: 60px;
}

.d-block {
    
    color: white;
}
.d-block:hover {
    color:#81F0e7;
}

.footer .back-to-top {
    position: absolute;
    right: 10%;
    background-color: white;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.footer .back-to-top::before {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}

.footer .back-to-top:hover {
    background-color: #81F0e7;
}

.footer .text-end {
    align-self: flex-end;
}

.icon {
    fill: white;
    
}

.icon:hover {
    fill: #81F0e7;
}

.icon2 {
    fill: #06407a;
}

