.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-img-custom {
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}
