.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cont-img {
    margin-top: 30%;
}

.text {
    color: #81F0e7;
}