<header class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-lg-none" href="/index.html">
            <img src="/assets/img/logo-simple.svg" alt="Logo" class="logo-img" height="60" width="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto pages-nav">
                <li class="nav-item"><a class="nav-link" href="/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/servicios/servicios.html">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="/novedades/novedades.html">Oportunidades</a></li>
            </ul>
            <a class="navbar-brand d-none d-lg-block position-absolute start-50 translate-middle-x" href="/index.html">
                <img src="/assets/img/logo-simple.svg" alt="Logo" class="logo-img" height="130" width="130">
            </a>
            <div class="navbar-actions ms-auto">
                <a href="/login/login.html" class="btn custom-btn me-2">Ingresa</a>
                <a href="/Registro/registro.html" class="btn custom-btn">Registrate</a>
            </div>
        </div>
        <a href="#" class="search-icon d-lg-none ms-2">
            <i class="fas fa-search text-white"></i>
        </a>
    </div>
</header>
<div class="navbar-search-container mb-4 d-none d-lg-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="input-group">
                    <span class="input-group-text border-end-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="06407a" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                    </span>
                    <input type="text" class="form-control border-start-0" placeholder="Busca tu próxima oportunidad">
                </div>
            </div>
        </div>
    </div>
</div>