<main>
  <div class="img-robot mt-5 mb-5">
    <img src="assets/img/ROBOT.png" alt="imagen de robot">
  </div>
  <div class="form-container m-5">
      <div class="form-text">
          <h2>Bienvenido a tu</h2>
          <h1>Banco de oportunidades</h1>
          <div class="buttons-login">
              <a href="https://www.google.com/" target="_blank"><i class="bi bi-google icon-spacing"></i>Ingreso con Google</a>
              <a href="https://www.facebook.com/" ><i class="bi bi-facebook icon-spacing"></i>Ingresa con Facebook</a>
          </div>

          <div class="line-container">
              <span class="circle">o</span>
          </div>

          <form action="">
              <div class="grup-input">
                  <i class="bi bi-envelope"></i>
                  <input type="email" placeholder="Email" >
              </div>
              <div class="grup-input">
                  <i class="bi bi-key-fill"></i>
                  <input type="password" placeholder="Contraseña">
              </div>
              <div class="last-part">
                  <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="checkbox" />
                      <label class="form-check-label" for="checkbox">Recordarme</label>
                  </div>
                  <a href="#">Olvidé mi contraseña</a>
              </div>
              <input type="submit" name="submit" class="submit mt-5" value="Login">
          </form>
          <p class="text-register" routerLink="/registro" >¿No tienes una cuenta? <a >Registrate</a></p>
      </div>
  </div>
</main>
