<div class="container">
    <div class="row align-items-center">
      <h1 class="titulo fs-1 text-center mb-5 mt-5">Pro-Vocación</h1>
        <div class="col-md-2"></div>
        <div class="col-md-4 fs-5 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</div>
        <div class="col-md-4 mb-5"><img class="img-fluid" src="/assets/img/img-pro_vocation.png" alt="imagen"></div>
      </div>
      <div class="row align-items-center">
        <h1 class="titulo fs-1 text-center mb-5 mt-5">Asesoria Sociopedagógica</h1>
          <div class="col-md-2"></div>
          <div class="col-md-4 fs-5 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</div>
          <div class="col-md-4 mb-5"><img class="img-fluid" src="/assets/img/img-advisory.png" alt="imagen"></div>
        </div>
        <div class="row align-items-center">
          <h1 class="titulo fs-1 text-center mb-5 mt-5">Test Vocacional</h1>
            <div class="col-md-2"></div>
            <div class="col-md-4 fs-5 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</div>
            <div class="col-md-4 mb-5"><img class="img-fluid" src="/assets/img/img-test.png" alt="imagen"></div>
          </div>
    </div>