
<h2 class="text-center m-5 tittles">Novedades</h2>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/Comfama.jpg" class="d-block w-100 img-fluid" alt="confama">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/becas-tecnologias-medellin.jpg" class="d-block w-100 img-fluid" alt="tecnologias-medellin">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/Becas-Medellin.jpg" class="d-block w-100 img-fluid" alt="becas-medellin">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<div class="container">
    <div class="filter-container mt-5">
        <form>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <label for="search" class="sr-only">Busca tu próxima oportunidad</label>
                    <input type="text" class="form-control mb-2" id="search" placeholder="Busca tu próxima oportunidad">
                </div>
                <div class="col-md-3">
                    <label for="start-date" class="sr-only">Desde</label>
                    <input type="date" class="form-control mb-2 datepicker" id="start-date" placeholder="Desde">
                </div>
                <div class="col-md-3">
                    <label for="end-date" class="sr-only">Hasta</label>
                    <input type="date" class="form-control mb-2 datepicker" id="end-date" placeholder="Hasta">
                </div>
                <div class="col-md-2">
                    <label for="location" class="sr-only">Ubicación</label>
                    <select class="form-control mb-2" id="location">
                        <option>Ubicación</option>
                        <option>Medellín, Antioquia</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="type" class="sr-only">Tipo de oportunidad</label>
                    <select class="form-control mb-2" id="type">
                        <option>Tipo de oportunidad</option>
                        <option>Educativa</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="sector" class="sr-only">Sector</label>
                    <select class="form-control mb-2" id="sector">
                        <option>Sector</option>
                        <option>Tecnología</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2 custom-btn">Búsqueda</button>
                </div>
                <div class="col-auto">
                    <button type="reset" class="btn btn-primary mb-2 custom-btn ">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container oportunidades mt-4">
    <h2 class="text-center mb-5 tittles">¡Oportunidades para estudiar!</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/Comfama.jpg" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Comfama</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/" target="_blank" class="btn btn-primary btn-rounded custom-btn ">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/img-nodo.png" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Nodo</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/" target="_blank" class="btn btn-primary btn-rounded custom-btn">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/img-velezreyes.png" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Velez</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/" target="_blank" class="btn btn-primary btn-rounded custom-btn">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/sapiencia.png" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Sapiencia</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/" target="_blank" class="btn btn-primary btn-rounded custom-btn">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/Comfama.jpg" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Becas</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/" target="_blank" class="btn btn-primary btn-rounded custom-btn">Saber Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="./assets/img/Becas-Medellin.jpg" class="card-img-top" alt="Comfama">
                <div class="card-body">
                    <h5 class="card-title">Alianza Empresarial - Becas Med</h5>
                    <p class="card-text">Se enfoca en promover el empleo de mujeres y jóvenes, facilitando su acceso a oportunidades laborales dignas. A través de programas de capacitación en habilidades digitales, liderazgo y emprendimiento...</p>
                    <a href="https://www.comfama.com/aprendizaje/"  target="_blank" class="btn btn-primary btn-rounded custom-btn ">Saber Más</a>
                </div>
            </div>
        </div>
    </div>
</div>
