.title {
    color: #222D56;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-title {
    color: #222D56;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-text {
    text-align: justify;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.btn {
    background-color: #81f0e7;
    border-color: #81f0e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #222D56;
    font-size: large;
 }

 .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222D56;
  }
  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222D56;
  }
